
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: orange;
    padding: 30px;
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 94, 0);
    padding: 10px;
    text-align: center;
}
h4{
     color: rgb(67, 182, 67);
     font-size: 20px;
     text-align: left;

}

 .column{ 
    float:left;
    width:450px;
    height:350px;
    padding:8px;
    margin: 10px;
    color:purple;
    font-style: oblique;
    
}
.column p a {
    color:peru;
    font-size:15px;

}
.column p {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .column {
      width: 300px;
      float: left;
      padding: 20px;
    }
}

@media  screen and (max-width: 768px) and (min-width: 600px){
    body {
        background-color: palegoldenrod;
        
    }  
}

@media screen and (max-width: 550px) {
  body {
    background-color: lightgray;
  }
}