title{



}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: orange;
    padding: 30px;
    align-content: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 94, 0);
    padding: 10px;
    justify: center;
}

.ul a{

}

.ul {

}