
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: orange;
    padding: 30px;
    text-align: center;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 94, 0);
    padding: 10px;
    text-align: center;

}
 .dogs p{
    column-count:5;
    -webkit-column-content:10;
    -webkit-column-gap:50px;
    column-gap:50px;
    -webkit-column-rule:15px solid #ccc;
    column-rule:1px solid #ccc;
    text-align:justify;



}